.cButtonDesign {
    height: 2.5vw;
    width: 18vw;

    background-color: rgb(114, 81, 80);
    color: white;
    font-weight: bold;
    border: 0.1em solid rgb(118, 81, 80);
    border-radius: 1em;
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    font-family: "Almendra", serif;
    transition: 0.2s;
}

.cButtonDesign:hover {

    cursor: pointer;
    transition: 0.2s;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    border: 0.1em solid rgb(100, 60, 60);
    background-color: rgb(100, 64, 62);
}
