.loginDesign {
    height: 100vh;
    width: 100vw;

    background-color: rgba(210, 209, 209, 0.852);
    color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titleDesignRegister {
    font-family: "Pirata One", system-ui;
    font-weight: bold;
    font-size: 3.5em;
    color: rgb(74, 65, 66);
}

.leftLoginDesign {
    width: 70vw;
    min-height: 100vh;

    background-image:url(../../../img/posters.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightLoginDesign {
    width: 30vw;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: rgb(169, 147, 146);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleInputDesign {
    font-size: 1vw;
    text-align: left;
    color: rgb(74, 65, 66);
    align-self: flex-start;
    padding-left: 6em;
    padding-top: 1em;
}

@media (max-width: 780px) {
    .loginDesign {
        flex-direction: column;
    }
    .leftLoginDesign {
        display: none;
    }

    .rightLoginDesign {
        width: 100%;
    }

    .titleInputDesign {
        padding-left: 1em;
        font-size: 2em;
    }
}