.CInputDesign {
    height: 1vw;
    width: 18vw;

    border-bottom: 0.1em solid white;
    border-top: none;
    border-left: none;
    border-right: none;

    margin: 0.5vw;
    background-color: rgb(169, 147, 146);
    color: black;
    font-size: 1em;
    outline: none;
}

.CInputDesignError {
    border: 0.2em solid rgb(196, 32, 33);
}

.CInputDesign:focus {
    border-bottom: 0.1em solid white;
}