.profileDesign {
    min-height: 100vh;
    width: 100vw;
    background-image:url(../../../img/background.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    color: black;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleDesignProfile {
    padding-top: 1.5em;
    padding-bottom: 0.86em;
    font-family: "Pirata One", system-ui;
    color: rgb(100, 64, 62);
    font-size: 4em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}