.profileDesign {
    min-height: 100vh;
    width: 100vw;
    padding-top: 3em;

    background-color: white;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleDesignProfile {
    font-family: "Pirata One", system-ui;
    font-weight: bold;
    font-size: 3.5em;
    color: rgb(74, 65, 66);
    margin: 3vw;
}