.courseCardDesign {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em;
    padding-bottom: 3em;
    font-family: "Roboto", sans-serif;
    background-color: rgba(255, 255, 255, 0.500);
    border: 0.1em solid rgb(74, 65, 66);
    border-radius: 0.6em;
    margin-bottom: 3em;
}

.titleCourseDesign {
    padding-top: 1em;
    display: flex;
    width: 80vw;
    font-size: 2.5em;
    font-family: "Pirata One", system-ui;
    background-color: rgba(169, 147, 146, 0);
    color:rgb(74, 65, 66);
    font-weight: bold;
    border-bottom: 0.1em solid rgb(74, 65, 66);
    margin-bottom: 1em;
}

.descriptionCourseDesign {
    display: flex;
    width: 80vw;
    font-family: "Roboto", sans-serif;
    background-color: rgba(169, 147, 146, 0);
    color:black;
    min-height: auto;
    font-size: 1.5em;
    text-align: justify;
    border: none;
    resize: none;
}

.inputCardDesign {
    display: flex;
    width: 83vw;
    height: 3.7vh;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    background-color: rgba(255, 255, 255, 0.500);
    color:black;
    font-weight: bold;
    border-radius: 0.2em;
    border: none;
    margin-bottom: 1em;
    margin-top: 1em;
}

.textareaCardDesign {
    width: 83vw;
    min-height: auto;
    display: flex;
    font-family: "Roboto", sans-serif;
    background-color: rgba(255, 255, 255, 0.511);
    color:black;
    font-size: 1.5em;
    text-align: justify;
    border-radius: 0.2em;
    padding: 0.5em;
    border: none;
    resize: vertical;
}

.userCard {
    min-height: 5vh;
    width: 90vw;
    font-family: "Roboto", sans-serif;
    background-color: rgba(255, 255, 255, 0.500);
    border: 0.1em solid rgb(74, 65, 66);
    border-radius: 0.6em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin: 0.5vw;
    padding: 0.5vw;
    color: black;
}

.userData {
    display: flex;
    flex-wrap: wrap;
}

.userData div {
    flex: 1;
    padding: 0.5em;
    text-align: justify;
    min-width: 15vw;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em;
    margin-top: auto;
}

.inscriptionCard {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em;
    padding-bottom: 3em;
    font-family: "Roboto", sans-serif;
    background-color: rgba(255, 255, 255, 0.500);
    border: 0.1em solid rgb(74, 65, 66);
    border-radius: 0.6em;
    margin-bottom: 3em;
}

.inscriptionData {
    margin: 1em;
    text-align: justify;
}

.subjectsDesign {
    display: flex;
    width: 80vw;
    font-family: "Roboto", sans-serif;
    background-color: rgba(169, 147, 146, 0);
    color:black;
    min-height: auto;
    font-size: 1.3em;
    text-align: justify;
    border: none;
    resize: none;
}

.subjectsTitleDesign {
    display: flex;
    width: 80vw;
    font-family: "Pirata One", system-ui;
    background-color: rgba(169, 147, 146, 0);
    color:black;
    font-weight: bold;
    min-height: auto;
    font-size: 1.5em;
    text-align: justify;
    border: none;
    padding-top: 1em;
    resize: none;
}
