.courseCardDesign {
    font-family: "Roboto", sans-serif;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6em;
    flex-wrap: wrap;
    background-color: white;
}

.inputCardDesign {
    display: flex;
    width: 90vw;
    height: 7vh;
    font-size: 2.4vw;
    font-family: "Roboto", sans-serif;
    background-color: white;
    color:black;
    font-weight: bold;
    border: none;
    padding-left: 2.5em;
    margin-bottom: 1em;
    margin-right: 2.5em;
}

.textareaCardDesign {
    display: flex;
    font-family: "Roboto", sans-serif;
    background-color: white;
    color:black;
    width: 90vw;
    height: 22em;
    font-size: 2vw;
    border: none;
    resize: none;
}