.cLinkDesign {
    color: white;
    font-weight: bold;
    font-size: 1em;

    margin: 0.5em;

    transition: 0.2s;

    font-family: "Pirata One", system-ui;
}

.cLinkDesign:hover {
    cursor: pointer;
    transition: 0.2s;
    color: rgba(169, 147, 146);
}