.usersDesign {
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleUserDesign {
    padding-top: 1.5em;
    padding-bottom: 0.86em;
    font-family: "Pirata One", system-ui;
    color: rgb(100, 64, 62);
    font-size: 4em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.cardsRosterAdmin{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.inputSearchDesign {
    height: 2vw;
    width: 18vw;
    font-family: "Roboto", sans-serif;
    border: 0.1em solid rgb(100, 64, 62);
    border-radius: 0.6em;
    margin: 0.5vw;
    background-color: rgb(169, 147, 146);
    color: black;
    font-size: 1em;
    outline: none;
}