.courseDesign {
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitleCourseDesign {
    padding-top: 1.5em;
    padding-bottom: 0.86em;
    font-family: "Pirata One", system-ui;
    color: rgb(100, 64, 62);
    font-size: 4em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.registerButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 1.5em;
}

.registerButtonDesign {
    height: 2.5em;
    width: 20em;

    background-color: rgb(169, 147, 146);
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    border: 0.1em solid white;
    border-radius: 0.6em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    font-family: "Pirata One", system-ui;
    transition: 0.2s;
    overflow-y: hidden;
}

.registerButtonDesign:hover {
    background-color: rgb(100, 64, 62);
    cursor: pointer;
    transition: 0.2s;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    border: 0.1em solid white;
    box-shadow: none;
}

.selectDropdown {
    min-width: 1vw;
    font-size: medium;
    background-color: rgb(100, 64, 62);
    border: 0.1em solid rgb(74, 65, 66);
    font-family: "Roboto", sans-serif;
    border-radius: 0.3em;
}

.subjectCardDesign {
    font-family: "Roboto", sans-serif;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    padding-bottom: 1.5em;
    font-family: "Roboto", sans-serif;
    background-color: rgb(169, 147, 146);
    border: 0.1em solid rgb(74, 65, 66);
    border-radius: 0.6em;
    padding-top: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
}

.inputCardDesignSubject {
    display: flex;
    width: 83vw;
    height: 3.7vh;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    background-color: rgba(255, 255, 255, 0.511);
    color:black;
    font-weight: bold;
    border-radius: 0.2em;
    border: none;
    margin-bottom: 1em;
    margin-top: 1em;
}

.textareaCardDesignSubject {
    width: 83vw;
    min-height: auto;
    display: flex;
    font-family: "Roboto", sans-serif;
    background-color: rgba(255, 255, 255, 0.511);
    color:black;
    font-size: 1.5em;
    text-align: justify;
    border-radius: 0.2em;
    padding: 0.5em;
    border: none;
    resize: vertical;
}