.courseDesign {
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitleCourseDesign {
    padding-top: 1.5em;
    padding-bottom: 0.86em;
    font-family: "Pirata One", system-ui;
    color: rgb(100, 64, 62);
    font-size: 4em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}